<html>
<head>
    <style>
        body {
            font-size: 8rem;
            margin: 4rem auto;
        }

        .container{
            display: block;
            width: 100%;
        }

        .page_info{
            width: 50%;
            float: left;
        }

        .page_contact{
            width: 50%;
            float: right;
        }

    </style>
</head>
<body>


<div class="container">
    <div class="page_info">
        <p><span class="pageNumber"></span> sur <span class="totalPages"></span></p>
    </div>
    <div class="page_contact">
        <p>milliana@achatcentrale.fr, 01 84 20 90 81</p>
    </div>
</div>

</body>
</html>